@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  padding-bottom: 0 !important; // some mixcloud widget stupidity
}

.mixcloud-footer-widget-container {
  display: none;
}
